<div id="home">
    <p>Automation Gateway Configuration</p>
    <button onclick="page(this.parentNode, 'manage');">Manage Endpoints</button>
    <button onclick="page(this.parentNode, 'access-endpoints');">Access Endpoints</button>
    <button onclick="page(this.parentNode, 'access-groups');">Access Groups</button>
</div>
<div id="manage">
    <p>Manage endpoints</p>
    <button onclick="page(this.parentNode, 'create');">Create New</button>
    <div id="manage-list" class="list">
    </div>
</div>
<div id="access-endpoints">
    <p>Access endpoints</p>
    <input id="access-endpoints-parameter" type="text" placeholder="User Parameter"/>
    <div id="access-endpoints-list" class="list">
    </div>
</div>
<div id="access-groups">
    <p>Access groups</p>
    <input id="access-groups-parameter" type="text" placeholder="User Parameter"/>
    <div id="access-groups-list" class="list">
    </div>
</div>
<div id="create">
    <p>Create new endpoint</p>
    <p id="create-error" style="color:red;"></p>
    <input id="create-name" type="text" placeholder="Name"/>
    <button id="create-button">Create Endpoint</button>
</div>
<div id="nologin">
    <p>You must be logged in to access this page.</p>
</div>